body {
    background-color: rgb(54, 187, 94);
    font: normal 15pt arial;
}

header {
color: white;
text-align: center;
}

section {
    background-color: white;
    border-radius: 15pt;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);

}

footer {
color: white;
text-align: center;
font-style: italic;

}